/**
 * Quick Draft Content Generation Styles
 */

#dashboard_quick_press {
	.notice {
		margin: 12px;
	}
}

#classifai-generate-content {
	margin-left: 10px !important;

	&:disabled {
		border-color: #dcdcde !important;
		color: #a7aaad !important;
		cursor: not-allowed;
	}
}

@media screen and (max-width: 782px) {
	#classifai-generate-content {
		margin-left: 0 !important;
		margin-top: 10px;
		width: 100%;
	}
}
