.classifai-listen-to-post-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding-top: 2rem;

	.class-post-audio-controls {
		width: 80px;
		height: 80px;

		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 4px solid #000;
		transition: background-color 0.3s ease;
		cursor: pointer;

		&:hover {
			background-color: #c3c3c3;
			transition: background-color 0.3s ease;
		}

		span {
			font-size: 4rem;
			width: auto;
			height: auto;
			transform: translateX(5px);

			&.dashicons-controls-pause {
				display: none;
				transform: translateX(0px);
			}
		}
	}

	.classifai-post-audio-heading {
		font-size: 2rem;
		padding-left: 1.5rem;
		color: #7d7d7d;
	}
}
