.wp-block-classifai-recommended-content {
	&.wp-block-classifai-recommended-content__list {
		list-style: none;
		padding-left: 0;

		li {
			clear: both;
			margin-bottom: 0.5em;
		}
	}

	&.is-grid {
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		li {
			margin: 0 1.25em 1.25em 0;
			width: 100%;
		}
	}

	@media ( min-width:600px ) {
		@for $i from 2 through 6 {
			&.columns-#{ $i } li {
				width: calc((100% / #{ $i }) - 1.25em + (1.25em / #{ $i }));

				&:nth-child( #{ $i }n ) {
					margin-right: 0;
				}
			}
		}
	}
}

.wp-block-classifai-recommended-content__post-date,
.wp-block-classifai-recommended-content__post-author {
	display: block;
	font-size: 0.8125em;
}

.wp-block-classifai-recommended-content__post-excerpt {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.wp-block-classifai-recommended-content__featured-image {

	a {
		display: inline-block;
	}

	img {
		height: auto;
		width: auto;
		max-width: 100%;
	}
}
