<?xml version="1.0"?>
<ruleset name="Classifai">
	<description>Extension of the 10up-Default</description>
	<rule ref="10up-Default">
		<!-- All of the files are missing comments -->
		<exclude name="Squiz.Commenting.FileComment.Missing" />
		<exclude name="Squiz.Commenting.ClassComment.Missing" />
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag" />
		<!-- Class properties don't need this -->
		<exclude name="Generic.Commenting.DocComment.MissingShort" />

		<!-- For CI, also fail on warnings -->
		<config name="ignore_warnings_on_exit" value="0"/>
	</rule>

	<exclude-pattern>*/tests/*</exclude-pattern>

	<config name="minimum_supported_wp_version" value="6.1"/>
	<config name="testVersion" value="7.4-"/>

	<!-- Exclude the PHPCompatibilityWP ruleset -->
	<rule ref="PHPCompatibilityWP">
		<exclude name="PHPCompatibilityWP"/>
	</rule>
</ruleset>
