parameters:
	# Rules
	treatPhpDocTypesAsCertain: false
	inferPrivatePropertyTypeFromConstructor: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	polluteScopeWithAlwaysIterableForeach: false
	polluteScopeWithLoopInitialAssignments: false
	reportAlwaysTrueInLastCondition: true
	reportStaticMethodSignatures: true
	reportWrongPhpDocTypeInVarTag: true

	# Configuration
	level: 1
	phpVersion:
		min: 70400
		max: 80400
	bootstrapFiles:
		- classifai.php
	paths:
		- classifai.php
		- config.php
		- includes/
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
		# These are needed due config.platform.php being 7.4 in composer.json and wordpress-stubs not including polyfills.
		# See <https://github.com/php-stubs/wordpress-stubs/issues/100>.
		- vendor/phpstan/php-8-stubs/stubs/ext/standard/str_contains.php
		- vendor/phpstan/php-8-stubs/stubs/ext/standard/str_starts_with.php
	ignoreErrors:
		# The JSDoc standard we use on hooks is not compatible with PHPStan.
		- '#One or more @param tags has an invalid name or invalid syntax#'
		# - '#PHPDoc tag @(.+) has invalid value \({(.+)}(.*)\): Unexpected token "{"#'
		# Could look to fix this in the future.
		- '#@param tag must not be named \$this. Choose a descriptive alias, for example \$instance#'
		# Ignore ElasticPress for now, as we'll need to stub this.
		- '#ElasticPress#'
	excludePaths:
		analyse:
			- tests/
			- vendor/
			- vendor-prefixed/
		analyseAndScan:
			- node_modules (?)
	WPCompat:
		requiresAtLeast: '6.9'
