<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertDeprecationsToExceptions="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	cacheResultFile="./tests/.phpunit.result.cache"
>
	<testsuites>
		<testsuite name="integration">
			<directory suffix=".php">./tests/Integration</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="false">
		<include>
			<directory suffix=".php">./includes</directory>
			<file>classifai.php</file>
		</include>
		<report>
			<clover outputFile="tests/_output/php-coverage.xml" />
			<html outputDirectory="tests/_output/html" />
		</report>
	</coverage>
</phpunit>
