.media-frame-content {
	.generated-images,
	.prompt-view {
		padding: 0 16px;
	}

	.generated-images {
		ul {
			display: flex;
			flex-wrap: wrap;
			list-style-type: none;
			gap: 15px;
			margin: 0;
			padding: 0;
		}

		li {
			margin-bottom: 20px;
		}

		.generated-image {
			img {
				box-shadow: inset 0 0 15px rgb(0 0 0 / 10%), inset 0 0 0 1px rgb(0 0 0 / 5%);
				border: 1px solid rgb(0 0 0 / 10%);
				background-color: #f0f0f1;
				display: block;
				margin-bottom: 10px;
				width: 365px;
				max-width: 100%;
				height: auto;
				object-fit: cover;
			}

			button {
				display: block;
				float: left;
				margin-right: 10px;

				&.is-tertiary {
					padding: 6px;
					background: transparent;
					border: 0;
					color: #007cba;
					cursor: pointer;
					white-space: nowrap;
					outline: 1px solid transparent;

					&:hover:not(:disabled) {
						box-shadow: inset 0 0 0 1px #006ba1;
						color: #006ba1;
					}

					&:active:not(:disabled) {
						background: #ddd;
						box-shadow: none;
						color: #006ba1;
					}
				}
			}

			.spinner {
				float: left;
				margin: 6px;
			}
		}

		.spinner {
			float: none;
			visibility: hidden;

			&.active {
				visibility: visible;
			}
		}

		.error {
			color: #cf2e2e;
			font-size: 15px;
		}
	}

	.prompt-view {
		margin-top: 20px;

		.prompt {
			margin-right: 10px;
			padding: 5px 8px;
			width: 40%;
		}

		.error {
			color: #cf2e2e;
			display: block;
			font-size: 15px;
			padding: 10px 0;
		}
	}
}
