/**
 * Quick Draft Content Generation Styles
 */

#classifai-generate-content {
	background: #2271b1 !important;
	border-color: #2271b1 !important;
	color: #fff !important;
	text-decoration: none;
	text-shadow: none;
	
	&:hover,
	&:focus {
		background: #135e96 !important;
		border-color: #135e96 !important;
		color: #fff !important;
	}
	
	&:disabled {
		background: #f6f7f7 !important;
		border-color: #dcdcde !important;
		color: #a7aaad !important;
		cursor: not-allowed;
	}
}

.classifai-quick-draft-notice {
	margin: 15px 0;
}

@media screen and (max-width: 782px) {
	#classifai-generate-content {
		margin-left: 0 !important;
		margin-top: 10px;
		width: 100%;
	}
}
