.classifai-ocr-related-block::before,
.wp-block-group.is-style-classifai-ocr-text.has-child-selected::before {
	content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -15px;
    bottom: 0;
    border-left: 4px solid #cfe7f3;
}
