#classifai-activation-notice {
	padding: 24px;

	.classifai-logo {
		line-height: 0;
		img {
			width: 180px;
		}
	}

	h3.classifai-activation-message {
		margin: 8px 0 18px;
		font-weight: 400;
		line-height: 1.3;
		font-size: 1.6em;
	}
}

a.classifai-button,
input.classifai-button {
	padding: 8px 16px;
	background: #1e8cbe;
	color: #fff;
	font-style: normal;
	font-weight: 400;
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
	box-sizing: border-box;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	border-color: #1e8cbe;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;

	&:hover,
	&:focus,
	&:active {
		color: #fff;
		background: #0979a3;
		border-color: #0979a3;
	}

	&:focus {
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0979a3;
	}

	&:active {
		box-shadow: none;
	}

	&:disabled,
	&.disabled {
		color: #fff;
		background: #9ea3a8;
		cursor: not-allowed;
		box-shadow: none;
	}
}

#classifai-header {
	background-color: #fff;
	box-sizing: border-box;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	position: sticky;
	z-index: 1001;
	margin-left: -20px;
	padding: 0 10px;

	@media screen and (max-width: 782px) {
		margin-left: -10px;
		padding: 0 5px;
	}

	body.admin-bar & {
		@media (min-width: 601px) {
			top: 46px;
		}

		@media (min-width: 783px) {
			top: 32px;
		}
	}

	.classifai-setup-page & {
		position: relative;
		body.admin-bar & {
			@media (min-width: 601px) {
				top: 0px;
			}

			@media (min-width: 783px) {
				top: 0px;
			}
		}
	}

	.classifai-header-layout {
		justify-content: space-between;
		padding: 24px;
		display: flex;
		align-items: center;
	}

	#classifai-logo {
		line-height: 0;
		img {
			max-width: 180px;
		}
	}
}

.classifai-setup {
	margin-left: -20px;

	&__header {
		height: 60px;
		border-top: 1px solid #dcdcde;
		border-bottom: 1px solid #dcdcde;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
	}

	&__step-wrapper {
		margin: 0 16px;
		width: 100%;
		max-width: 980px;
	}

	&__steps {
		display: flex;
		justify-content: space-around;
	}

	&__step {
		padding: 8px;
		font-weight: 400;
		position: relative;

		&__label {
			font-size: 16px;

			span.step-count {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 24px;
				height: 24px;
				min-width: 24px;
				margin-right: 8px;
				background: #f0f0f0;
				color: #757575;
				border-radius: 50%;
			}

			span.step-title {
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}

			@media screen and (max-width: 480px) {
				font-size: 14px;
			}
		}

		&.is-active {
			span.step-title {
				font-weight: 600;
			}

			span.step-count {
				background: #fb342c;
				color: #fff;
			}
		}
	}

	&__step-divider {
		align-self: flex-start;
		flex-grow: 1;
		border-bottom: 1px solid #f0f0f0;
		margin-top: 20px;
	}

	&__step-label {
		font-size: 1.2em;
	}

	@media screen and (max-width: 782px) {
		margin-left: -10px;
	}

	&__wrapper {
		max-width: 1232px;
		margin: 0px auto;
	}

	&__content {
		padding: 24px;
		background-color: #fff;
		box-sizing: border-box;
		display: block;
		border-radius: 4px;
		margin: 20px;
		padding-bottom: 60px;

		&__row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;

			&__column {
				display: flex;
				flex-direction: column;
				flex-basis: 100%;

				img {
					max-width: 334px;
					width: 100%;
				}
			}

			@media screen and (min-width: 767px) {
				&__column {
					flex: 1;
					padding: 0px 10px;
				}
			}
		}

		h1.classifai-setup-heading {
			text-align: center;
			font-size: 22px;
			margin: 24px 0px 48px 0px;
			font-weight: 600;
		}

		.classifai-setup-image {
			text-align: center;
		}

		h1.classifai-setup-title {
			font-size: 22px;
			padding: 0px;
		}

		.classifai-step1-content {
			max-width: 400px;
		}

		.classifai-step2-content{
			max-width: 350px;
			margin: 0 auto;
		}

		.classifai-feature-box {
			margin: 40px 0;
		}

		.classifai-feature-box-title {
			text-transform: uppercase;
			font-weight: 700;
		}

		li.classifai-enable-feature {
			width: 100%;
			list-style: none;
			margin-top: 14px;
			display: block;
			clear: both;
		}

		.classifai-feature-box-divider {
			border: 1px solid #ddd;
		}

		label.classifai-feature-text {
			color: #707070;
			font-size: 14px;
		}

		input.classifai-feature-checkbox {
			float: right;
		}

		.classifai-setup-footer {
			text-align: right;
		}

		a.classifai-setup-skip-link {
			text-decoration: none;
			color: #000;
			font-weight: 400;
		}

		.classifai-setup-footer__right {
			margin-left: 40px;
		}

		@media screen and (max-width: 767px) {
			.classifai-step1-content {
				max-width: 100%;
				margin-top: 20px;
			}

			h1.classifai-setup-title {
				text-align: center;
			}
		}

		.classifai-setup-form {

			.classifai-step3-content & {
				margin: 0 auto;
				max-width: 480px;
			}

			.classifai-setup-form-field{
				margin-top: 40px;
			}

			label {
				display: block;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			input[type="text"],
			input[type="password"] {
				width: 100%;
				height: 38px;
				font-size: 14px;
			}

			.classifai-setup-footer{
				margin-top: 40px;
			}
		}

		.classifai-step3-content {
			.classifai-setup-title {
				text-align: center;
				margin-bottom: 12px;
				margin-top: -24px;
			}

			.classifai-setup-form {
				margin: 0 auto;
				max-width: 480px;
			}
		}

		.classifai-tabs {
			display: table;
			border-collapse: separate;
			table-layout: auto;
			&.tabs-center {
				margin: auto;
			}
			&.tabs-justify {
				width: 100%;
				table-layout: fixed;
			}
			a.tab {
				text-decoration: none;
				position: relative;
				display: table-cell;
				transition: all ease .3s;
				padding: 16px 12px;
				transform: translate3d(0, 0, 0);
				color: #1d2327;
				white-space: nowrap;
				cursor: pointer;
				font-size: 14px;
				&:focus {
					box-shadow: none;
				}
				&:hover {
					color: #1e8cbe;
				}
				&:after {
					transition: all .3s cubic-bezier(1, 0, 0, 1);
					will-change: transform, box-shadow, opacity;
					position: absolute;
					content: '';
					height: 3px;
					bottom: 0px;
					left: 0px;
					right: 0px;
					border-radius: 3px 3px 0px 0px;
					background: #1e8cbe;
					box-shadow: 0px 4px 10px 3px rgba(30,140,190, .15);
					opacity: 0;
					transform: scale(0, 1);
				}
				&.active {
					color: #1e8cbe;
					font-weight: 600;
					&:after {
						opacity: 1;
						transform: scale(1, 1);
					}
				}
			}
		}

	}
}
