#classifai-settings {
	font-size: 14px;
	box-sizing: border-box;

	#classifai-header {
		background-color: #fff;
		box-sizing: border-box;
		display: block;
		left: 0;
		right: 0;
		top: 0;
		position: sticky;
		z-index: 1001;
		margin-left: -20px;
		padding: 0 10px;
		box-shadow: 0px 10px 10px 0px #f0f0f1;

		@media screen and (max-width: 782px) {
			margin-left: -10px;
			padding: 0 5px;
		}

		body.admin-bar & {
			@media (min-width: 601px) {
				top: 46px;
			}

			@media (min-width: 783px) {
				top: 32px;
			}
		}

		.classifai-header-layout {
			justify-content: space-between;
			padding: 18px;
			display: flex;
			align-items: center;
			margin: 0 auto;
		}

		#classifai-logo {
			line-height: 0;
			width: 180px;
		}

		#classifai-header-controls {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}

	.components-notice {
        &, &__content {
            margin: 0;
        }
    }

    .components-notice-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-block-end: 16px;
    }

	.settings-panel {
		.settings-row {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: row;
		}

		@media (max-width: 600px) {
			.settings-row {
			  flex-direction: column;
			}
		}

		.settings-label {
			align-items: center;
			font-weight: bold;
			flex-shrink: 0;
			flex: 30%;
			padding: 12px 0px;
		}

		.settings-control {
			align-items: center;
			flex: 70%;
			padding: 12px 10px;
		}

		.settings-description {
			margin-top: 8px;
			font-size: 13px;
		}

		.settings-allowed-roles .settings-control .components-checkbox-control {
			margin-bottom: 8px;
		}

		.classifai-settings__users .settings-control label.components-form-token-field__label {
			display: none;
		}

		@media screen and (max-width: 782px) {
			margin-top: 16px;
		}
	}

	.save-settings-button{
		margin-top: 16px;
		display: block;
		width: 100%;
		padding: 10px 0;
		height: auto;
		font-size: 15px;
	}

	.classifai-settings-wrapper {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;

		.classifai-tabs {
			display: flex;
			align-items: stretch;
			flex-direction: row;
			justify-content: start;
			border-bottom: 1px solid #ccd0d4;
			padding-bottom: 0;
			margin-right: 20px;

			&[aria-orientation="vertical"] {
				flex-direction: column;
				border: 0px;
				justify-content: start;
				flex-basis: 0;
				flex-grow: 1;
				margin-right: 0px;

				.classifai-tabs-item {
					background: #fafafa;
					border: 1px solid #e0e0e0;
					text-align: left;
					padding: 14px 16px;

					&.active-tab {
						background: #fff;
						border-bottom: 1px solid var(--wp-admin-theme-color);
						box-shadow: inset 0 -2px var(--wp-admin-theme-color);
					}

					&:hover,
					&:focus {
						background: #fff;
					}

					@media screen and (max-width: 782px) {
						display: block;
					}
				}

				@media screen and (max-width: 782px) {
					margin-right: 0px;
					margin-top: 0px;
				}

				@media screen and (max-width: 782px) {
					display: block;
					gap: 0;
				}
			}

			.active-tab,
			.classifai-tabs-item:focus:not(:disabled) {
				box-shadow: inset 0 -2px var(--wp-admin-theme-color);
			}

			@media screen and (max-width: 782px) {
				margin-right: 10px;
				margin-top: 12px;
			}

			.classifai-tabs-item {
				position: relative;
				border-radius: 0;
				background: transparent;
				border: none;
				box-shadow: none;
				cursor: pointer;
				padding: 14px 16px;
				margin-left: 0;
				font-weight: 500;
				text-decoration: none;
				font-size: 15px;
				height: auto;
				color: var(--wp-components-color-foreground, #1e1e1e);

				&:hover,
				&:focus {
					color:var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
				}

				&:focus:not(:disabled) {
					position: relative;
					box-shadow: none;
					outline: none;
				}

				// Tab indicator
				&::after {
					content: "";
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					pointer-events: none;

					// Draw the indicator.
					background: var(--wp-admin-theme-color, #3858e9);
					height: calc(0 * var(--wp-admin-border-width-focus));
					border-radius: 0;

					// Animation
					transition: all 0.1s linear;
				}

				// Active.
				&.active-tab::after {
					height: calc(1 * var(--wp-admin-border-width-focus));

					// Windows high contrast mode.
					outline: 2px solid transparent;
					outline-offset: -1px;
				}

				// Focus.
				&::before {
					content: "";
					position: absolute;
					top: 12px;
					right: 12px;
					bottom: 12px;
					left: 12px;
					pointer-events: none;

					// Draw the indicator.
					box-shadow: 0 0 0 0 transparent;
					border-radius: 2px;

					// Animation
					transition: all 0.1s linear;
				}

				&:focus-visible::before {
					box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color, #3858e9);

					// Windows high contrast mode.
					outline: 2px solid transparent;
				}
			}
		}

		span.dashicons.dashicons-yes-alt {
			color: #46b450;
		}

		.classifai-settings-edit-provider {
			cursor: pointer;

			&:hover {
				color: #3858e9;
			}
		}
	}

	.service-settings-wrapper {
		margin-right: 20px;
		padding-top: 24px;
		display: flex;
		gap: 24px;

		@media screen and (max-width: 782px) {
			margin-right: 10px;
		}

		.feature-settings-wrapper{
			flex-basis: 0;
			flex-grow: 3;
		}

		@media screen and (max-width: 782px) {
			display: block;
			gap: 0;
		}
	}
}
