name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: New release
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version-file: .nvmrc

    - name: Install dependencies, build files and archive
      run: |
        npm install
        npm run build
        npm run makepot
        composer install --no-dev -o
        npm run archive

    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ github.workspace }}/classifai.zip
        asset_name: classifai.zip
        asset_content_type: application/zip
